<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Private Messages</title>
</head>
<body>
    <h1>chat.html</h1>
<ol>
{% for msg in conversation %}
    {% if msg.user_from_id == request.session.user_id %}
        <li><strong>You said:</strong> {{msg.message}} ({{msg.created_at}})</li>
    {% else %}
        <li><strong>{{msg.user_from.username}} said:</strong> {{msg.message}} ({{msg.created_at}})</li>    
    {% endif %}
{% endfor %}
</ol>

<form action="/chat/{{user_id}}" method='post'>
    {% csrf_token %}
    <textarea name="message" placeholder="Your reply.."></textarea><br>
    <input type="submit" value="Reply">
</form>

</body>
</html>