<!<!DOCTYPE html>
<html>      
    <head>
        <title>LOGIN AND REGISTRATION</title>
    </head>
    <body>
        <h3>REGISTER</h3>
        <form action="/register" method="post">
        <input type="text" name="first_name" placeholder="First name">
        <input type="text" name="last_name" placeholder="last name">
        <input type="text" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="password" placeholder="confirm password">
        <input type="submit" value="register">
        </form>
        <h3>LOGIN</h3>
        <form action="/login" method="post">
            <input type="text" name="email" placeholder="email">
            

    </body>
</html>