<html>
    <title>Ninjas</title>
    <h1>Ninjas</h1>
    <h2>Choji Akimichi</h2>
    <img src="{{url_for('static', filename="img/Choji-akimichi.jpg")}}">
    </br>
    <p>Chōji was born into the Akimichi clan, and is slated to become the Sixteenth Head of the Akimichi (秋道16代目当主, Akimichi Jūrokudaime Tōshu) after his father, Chōza. When Chōji was younger, he was often put down for not being good at a child's game called "Ninja", which appears to be a cross between tag and hide and seek, often employing the use of shuriken made out of cardboard and sticks. His peers would always berate him, telling him that any team that he was on was bound to lose. One day, they simply refused to let him play at all. However, Shikamaru Nara stuck up for him, saying that the teams would be uneven if Chōji didn't join them. This gave Chōji a little hope, although, in the end, they still refused to let him play.</p>

</html>


